@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="bg-info bg-opacity-10">
    <div class="m-3 justify-content-center align-content-center bg-white border border-2 shadow-lg">
        <div>
            <h2 class="text-primary fs-3 text-center">About Employee Management System</h2>
            <p class="ms-4">The Employee Management System (EMS) is designed to simplify how organizations manage employee data, from hiring to performance tracking in one unified and efficient platform.</p>
        </div>
        <div>
            <h2 class="text-success fs-3 ms-2">Key Modules</h2>
            <div class="ms-3"><span class="fw-bold">Employee Registration:</span> Allows new employees to register with their name, gender, email, and password.</div>
            <div class="ms-3">
                <span class="fw-bold">Employee Login:</span> Employees and admins can securely log in to access records or manage employee data.
            </div>
            <div class="ms-3"><span class="fw-bold">Employee Information Dashboard:</span> Displays all registered employees with details like department, role, and work status.</div>
        </div>
        <div class="ms-3"><span class="fw-bold">CRUD Operations: </span>Admins can create, edit, view, or delete employee records efficiently.</div>
        <h2 class="text-success fs-3 ms-2">System Goals</h2>
        <p class="ms-4">This project aims to build a structured and user-friendly system for employee data management. It eliminates paperwork, reduces data duplication, and enables fast access to accurate employee information.</p>
        <div>
            <h2 class="text-success fs-3 ms-2">Technologies Used</h2>
            <ul>
                <li>ASP.NET Core MVC Framework</li>
                <li>C# Programming Language</li>
                <li>Entity Framework Core for Database Operations</li>
                <li>Bootstrap for Responsive UI Design</li>
                <li>SQL Server for Data Storage</li>
            </ul>
        </div>
    </div>
</body>
