@{
    ViewData["Title"] = "Menu List";
}
<body class="bg-info bg-opacity-10">
    <div class="m-3 justify-content-center align-content-center bg-white border border-2 shadow-lg p-3">
        <h2 class="text-primary fs-3 text-center">Menu</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="/Menu/About">About</a></li>
            <li class="list-group-item"><a href="/Menu/Privacy">Privacy</a></li>
        </ul>
    </div>
</body>
