
@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-info bg-opacity-10">
    <div class="border-2 border m-5 bg-white rounded-3 p-4 shadow-lg">
        <div class="m-5 text-center">
            <h2 class="text-primary fs-1">Welcome to the Student Management System</h2>
            <p class="fs-5">Manage student registration, academic information, and user login all in one secure platform</p>
        </div>

        <!-- Buttons Section -->
        <div class="text-center">
            <div class="btn btn-success m-2">Register</div>
            <div class="btn btn-light border border-2 m-2">Login</div>
        </div>

        <!-- Feature Cards Section -->
        <div class="d-flex flex-row  justify-content-center m-3">
            <div class="mx-3 border border-1 flex-column text-center rounded p-3 shadow-sm">
                <div class="text-success fw-bold">Student Registration</div>
                <div class="text-muted">Easily register new students by entering their name, gender, email address, and password. The registration form ensures every record is stored securely in the database.</div>
            </div>

            <div class="mx-3 border border-1 flex-column text-center rounded p-3 shadow-sm">
                <div class="text-info fw-bold">Student Information</div>
                <div class="text-muted">View and manage student details such as name, gender, department, and semester. Update, delete, or check details instantly from the dashboard.</div>
            </div>

            <div class="mx-3 border border-1 flex-column text-center rounded p-3 shadow-sm">
                <div class="text-danger fw-bold">Secure Login System</div>
                <div class="text-muted">Students can log in using their email and password to view personal data or academic information. Logout securely anytime to protect account privacy.</div>
            </div>
        </div>

        <!-- Streamlined Management Section -->
        <div class="text-center m-2">
            <h2 class="text-primary">Streamlined Student Data Management</h2>
            <p class="fs-6">From registration to academic records, our system simplifies everything. Save time, improve accuracy, and make education management easier.</p>
        </div>
    </div>
</body>
